:root {
  --button: #FF0000;
  --main-background:  #C4C4C4;
  --background: #E5E5E5;
  --text: #000;
  --footer: #000;
  --text-description: #9C9696;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: auto;
  padding: auto;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  vertical-align: middle;
}

body, html{
  width:100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{

  overflow-x: hidden;
  background: var(--background);
}

header{
  display: flex;
  position: absolute;
  width: 100vw;
  top: 3rem;
}

#logo img{
  width: 110%;

}

#menu nav ul{
  display: flex;
  gap: 90px;

}

#menu nav ul li a{
  
  text-decoration: none;
  color: var(--text);
  font-weight: 700;
  font-size: 24px;
}

#searchBag{
  display:flex ;
  gap: 1rem;
}



input{
  border: none;
  height: 2rem;
}
input:focus{outline: none;}

#search{
  border: 1px solid var(--text-description);
  padding: 0.5rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

@media  screen and (max-width:1200px) {
  #menu nav ul{gap:45px}
  #menu nav ul li a{font-size: 20px;}
  input{height: 1.5rem;} 
}

@media  screen and (max-width:1000px) {

  #menu nav ul{gap:2rem}
  #menu nav ul li a{font-size: 18px;}
  input{height: 1rem;}
  
}

@media screen and (max-width:850px) {
  #logo, #menu, #searchBag{display: none;}
}

#menuMobile{
  width: 100vw;
  height: 110vh;
  position: fixed;
  z-index: 1;
  background: var(--background);
  transform: translateX(110%);
  transition: transform 1s ease-in-out;
}

#menuMobile nav ul li{
  text-align: center;
  margin: 3rem auto 3rem auto;
  
}

#menuMobile nav ul{padding-top: 15%;}

#menuMobile nav ul li a{
  text-decoration: none;
  color: var(--text);
  font-weight: 700;
  font-size: 24px;

}

#logoMobile{margin: 0;}
#logoMobile img{
  position: fixed;
  left: 4rem;
  z-index: 10;
}

#searchMobile{
  position: fixed;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  z-index: 10;
  margin: auto;
}

#burguer{
  position: fixed;
  right: 4rem;
  z-index: 10;

}

#line1, #line2, #line3{height: 0.2rem;
  width: 2rem;
  background-color: #000;
  margin-top: 0.5rem;
  position: relative;
  transition: all 1s ease-in-out;
}

@media screen and (min-width:849px) {
#burguer, #logoMobile, #menuMobile, #searchMobile{display: none;}
}

@media screen and (max-width:500px){
  #burguer{
    top:1rem
  }
  #logoMobile img{
  top: 1rem;}
  #menuMobile{
    top: 0;}
    #menuMobile nav ul{padding:0;
    }
  header{top:4rem;
    background:var(--background);
  }

}

#conteiner{
  width: 100vw;
  display: flex;
}

#description{
  width:37.5% ;
}

#vitrine{
  width: 62.5%;
  height: 100vh;
  padding-bottom: 2rem;
  background: var(--main-background);
}

#vitrine img{
  display: block;
  position: relative;
  top:15%;
  width: 35vw;

}

#galeria{position: relative;
top: 15%;
}

#galeria section{display:flex ;
  overflow: hidden;
  gap: 1rem;
 width: 50vw;
}

#galeria {display: flex;
  gap: 1rem;
  
}
#galeria section img{display: block;
width:30%;
height: 100%;
object-fit: cover;
}

#galeria section img:hover{border-bottom: 5px solid var(--button);}


#description div{width: 22rem;}

#description h1{
  font-size: 60px;
  font-weight: 700;
}

#description p{
color: var(--text-description);
font-weight: 700;
text-align: center;
margin: 2rem auto 2rem auto;
}

#description button {
  width: 17.1rem;
  height: 5.6rem;
  background: var(--button);
  font-size: 24px;
  font-weight: 700;
  color: #E5E5E5;
  border: none;
  border-radius: 3px;
  display: block;
  margin: 2rem auto auto auto;
  cursor: pointer;
  
}
@media screen and (max-width:300px){
  
  #description h1{font-size: 30px;
  text-align: center;
padding-left: 2rem;
padding-right: 2rem;}
  #description button{font-size:18px}

  #description p{font-size: 12px;}


}

@media screen and (max-width:1000px){
  #conteiner{
    display: block;
    margin-top: 10rem;
  }

  #description, #description div{
    text-align: center;
    width: 100vw;
    padding-left: 0;
    margin-bottom: 3rem;
  }

  #vitrine{width: 100vw;
  height: 100%;}

  #description button {width: 80vw;}
}

@media screen and (max-width:1000px){#galeria section{width: 100vw;}
#galeria section img{width: 30vw;}

#vitrine img{width: 100%;}
}





footer {width: 100vw;
}

footer #mainFooter{ display: flex;}

#mainFooter div{
  height: 10rem;
  width: 16.6%;
  cursor: pointer;

 }

 #mainFooter #footerLink:hover, #footerLink1:hover{border-top: 1px solid var(--button);}

#footerLink {
  text-align: center;
}

#footerLink a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 18px; 
}

#footerLink span, #footerLink1 span{position: relative;
top: 4.5rem;}

iframe{
  width: 100%;
  height:100% ;}

#footerLink1{
  height: 10rem;
  background-color: var(--footer);
  text-align: center;
  
}

#footerLink1 a{text-decoration: none;
  color: #FFF;
  font-weight: 700;
  font-size: 24px;
}

@media screen and (max-width:1000px){
  footer #mainFooter{display: block;}
  #mainFooter div{
    height: 10rem;
    width: 100vw;
    cursor: pointer;
   }

   #mainFooter div#footerFrame{height: 15rem;}
}